{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <section class="card card-body">
        <h1 class="display-1 text-center">Home</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Repudiandae doloribus iste natus ullam est laborum
            porro officia mollitia, iusto perspiciatis eos odit labore distinctio ipsam fugiat dignissimos in velit
            nihil quam omnis dolorem similique tempore. Asperiores ducimus autem fugiat eveniet molestiae enim quia
            architecto impedit rem est laboriosam quibusdam, ut id accusantium! Modi, magnam nostrum! Molestias culpa
            nisi reiciendis nam ipsa? Deleniti sint ipsum alias vitae suscipit, quia adipisci mollitia molestiae sed
            praesentium eligendi unde culpa nam quisquam ea repellendus aspernatur saepe! Omnis quas quia fuga expedita
            cumque praesentium reprehenderit magnam, consequuntur cum rerum eum dolore cupiditate non, ad dolor!</p>

        <div class="text-center">
            <a class="btn btn-primary" href="/signin/">Signin</a>
            <a class="btn btn-dark" href="/signup/">Signup</a>
        </div>

    </section>
</main>
{% endblock %}